.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  color: #595959;
  transition: all 0.2s ease;
}

.post:hover {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

h2 {
  font-weight: 500;
  color: black;
}

.post button {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.post button:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.post-btns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
