* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.posts {
  display: grid;
  padding: 30px 80px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
